/*
 * Add your CSS Styles in here.
 * This CSS File is included on every page by default
 */

.store-content {
	width: 100%;
	float: none;
}

.store-content .store-address {
	margin: 20px 0;
}

.store-content ul {
 list-style-type: none;
 padding: 0;
 margin: 0; 
}


/*
 treating any viewport over 420px as wide enough to display two columns
*/
@media only screen and (min-width: 421px) {
    .store-content {
        float: left;
        max-width: 50%;
    }
}